@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?62954802');
  src: url('../font/fontello.eot?62954802#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?62954802') format('woff2'),
       url('../font/fontello.woff?62954802') format('woff'),
       url('../font/fontello.ttf?62954802') format('truetype'),
       url('../font/fontello.svg?62954802#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62954802#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-right-open-mini:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-down-open-mini:before { content: '\e807'; } /* '' */
.icon-left-open-mini:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-flight:before { content: '\e80a'; } /* '' */
.icon-gift:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-star-empty:before { content: '\e80d'; } /* '' */
.icon-th:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e811'; } /* '' */
.icon-comment:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-arrows-cw:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */