@import "index.less";
@import "about.less";
@import "contact.less";
@import "blog.less";
@import "blog_detail.less";
@import "product-detail.less";
@import "product-list.less";

/*custom*/

hr {
	margin: 0;
}
.mx_50 {
	margin-left: 50px;
	margin-right: 50px;
}
.mx_80{
	margin-left: 145px;
	margin-right: 145px;
}
.clearfix {
	display: flow-root;
}
ul, li, a {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #4b4b4b;
	letter-spacing: 1px;
	&:hover {
		text-decoration: none;
		color: #4b4b4b;
	}
}
h1, h2, h3, h4, h5 {
	margin: 0;
	letter-spacing: 1px;
	color: #494949;
}
h2, h3 {
	font-weight: bold;
	text-transform: uppercase;
}
h5, h6 {
 	text-transform: capitalize;
}
p {
	font-size: 14px;
	margin: 0;
}
#content img {
	width: 100%;
	height: auto;
}
.page-content > section {
	padding: 80px 0;
}
.breadcrumb-item+.breadcrumb-item::before {
	font-family: "fontello";
	content: "\e803";
}
.social-icon {
	display: flex;
	list-style: none;
	a {
		padding: 0;
		padding-right: 10px;
	}
	i {
		font-size: 18px;
	}
}
.title {
	margin-bottom: 30px;
	text-transform: uppercase;
}
button {
	background: transparent;
	border: 0;
	&:focus {
		outline: none;
	}
}
.star {
	display: flex;
	font-size: 8px;
   	color: #c8a760;
   	li {
   		padding-right: 2px;
   	}
}
.shop-button .icon {
    border: 1px solid;
    border-radius: 50%;
    margin-left: 5px;
}
.discount-tag, .new-tag {
	display: inline-block;
	color: #fff;
	padding: 0 5px;
	position: absolute;
	font-weight: 500;
	top: 10%;
	text-transform: capitalize;
}
.discount {
    text-decoration: line-through;
    letter-spacing: 1px;
}
.price {
	font-size: 27px;
	letter-spacing: -2px;
	font-weight: 500;
}

/*header*/

.dark {
	background: #282828;
}
.header-top {
	.menu-right {
		text-transform: capitalize;
	}
	a {
		display: block;
		padding: 12px 15px;
		color: #a1a1a1;
		transition: all 0.3s;
		&:hover {
			background-color: #3f3e43;
		}
	}
}
.cart-total {
	line-height: 14px;
	div {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
	}
}
.menu {
	display: none;
}
#logo {
	.tel {
		display: inline-block;
		padding-left: 40px;
		a {
			font-size: 12px;
			font-weight: 700;
		}
	}
}
#nav {
	display: flex;
	line-height: 29px;
	.cart {
		position: relative;
	}
	.badge {
		font-size: 6px;
	    border-radius: 50%;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}
	a {
		padding: 0 16px;
		&:last-child {
			padding-right: 0;
		}
	}
	i {
		font-size: 22px;
	}
}
.page-title {
	background: #f4f4f4;
	padding: 60px 0;
	h2 {
		font-size: 44px;
	}
	.breadcrumb {
		margin: 15px 0 0 0;
		padding: 0;
		background-color: transparent;
	}
}
.article-inner {
	padding: 25px 0;
	p {
		margin: 15px 0;
		line-height: 28px;
	}
}

/* content */

.info-tab {
	display: flex;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 14px;
    li {
    	padding-right: 25px;
    	a {
    		color: #919191;
    		letter-spacing: 0;
    	}
    }
}
#blog, #blog-detail {
	.date {
		display: inline-block;
		background: #919191;
		color: #f4f4f4;
		text-align: center;
		padding: 15px 20px;
	}
	.day {
		font-size: 20px;
	    font-weight: 700;
	    line-height: 1;
	}
	.month {
		text-transform: capitalize;
	}
	.title-bl {
		display: inline-block;
		margin-bottom: 15px;
		h4 {
			text-transform: uppercase;
			letter-spacing: 0;
			line-height: 1.5;
		}
		hr {
			width: 50%;
			border: 1.5px solid #494949;
		}
	}
}
.item {
	position: relative;
}
.discount-tag {
    background: #b2cc29;
}
.new-tag {
	background: black;
}
.product-list {
	.item:hover .cover {
		opacity: 1;
		transition: all .3s;
	}
	.cover {
		opacity: 0;
		position: absolute;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    li {
	    	flex-grow: 1;
	        border: 1px solid #666;
	    	background: #aaa;
	        padding: 10px;
	        &+li {
	        	border-left: 0;
	        }
	    }
	    button {
	        text-align: center;
	        border: 0;
	        background: transparent;
	        padding: 0;
	        font-size: 14px;
	    }
	}
	.star {
		position: absolute;
		bottom: 5%;
	    left: 10%;
	}
	.row > div:nth-child(5) .new-tag {
		top:calc(10% + 24px);
	}
	.info {
		padding: 10px;
	}
	.price {
		font-size: 20px;
	}
	.product-name {
		margin: 0;
		color: #757575;
		letter-spacing: 0;
		font-size: 14px;
	}
}
/* footer */

#footer {
	color: #868686;
	font-size: 14px;
	letter-spacing: 0;
	background: #f6f6f6;
	li {
		padding-bottom: 15px;
		text-transform: capitalize;
	}
	.footer-top {
		padding-top: 70px;
		padding-bottom: 70px;
		
		.map {
			margin-bottom: 15px;
			i {
				float: left;
			}
			p {
				overflow: hidden;
			}
		}
		.contact-info {
			a {
				color: #868686;
			}
		}
		.subscribe {
			text-align: right;
			p {
				margin-bottom: 15px;
			}
			.input {
				position: relative;
				margin-bottom: 30px;
			}
			input {
				border-radius: 38px;
			    text-transform: capitalize
			}

			.button {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				background: transparent;
				border:0;
				font-size: 18px;
				color: #868686;
			}
			.social-media {
				h5 {
					padding-right: 10px;
				}
			}
			.social-icon {
				justify-content: flex-end;
			}
		}
	}
	.footer-bottom {
		background: white;
		padding: 30px 0;
		.copyright {
			float: left;
		}
		.payment-methods {
			float: right;
		}
	}
}
#contact, #blog, #blog-detail {
	#footer {
		.title {
			font-size: 15px;
		    font-weight: 700;
		    color: black;
		}
		.footer-list a {
			color: #7f7f7f;
			font-size: 12px;
			font-weight: 500;
		}
		.contact {
			text-align: right;
			p {
				display: inline-block;
			}
			.map {
				margin-top: 60px;
				i {
					float: right;
				}
			}
			.contact-info {
				padding-top: 8px;
			}
		}
		.payment-methods, .copyright {
			float: none;
			text-align: center;
			padding-bottom: 15px;
		}
	}
}
#index, #product-list {
	.footer-top {
		.info-top {
			padding-bottom: 30px;
			.icon-item {
				justify-content: center;
				i {
					font-size: 40px;
			    	line-height: 44px;
				}
				h5 {
					font-size: 15px;
					text-transform: uppercase;
					margin-bottom: 5px;
				}
			}
			.icon-info {
				margin-left: 10px;
			}
		}
		.icon-item {
			display: flex;
		}
		.info-bottom {
			padding-top: 30px;
		}
	}
}

/*media*/

@media ( max-width: 992px){
	.dark, .cart-total {
		display: none;
	}
	#logo {
		.tel {
			display: none;
		}
	}
	.nav {
		display: none;
		&.active {
			display: block;
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 126px;
		    z-index: 10;
		    background: #fff;
		    padding: 30px;
		}
	}
	.menu {
		display: block;
	}
	.footer-top {
		text-align: center;
	}
}